---
// src/pages/index.astro
import Layout from '../layouts/Layout.astro';
import Header from '../components/Header.astro';
import Hero from '../components/Hero.astro';
import About from '../components/About.astro';
import Projects from '../components/Projects.astro';
import Publications from '../components/publications.astro';
import Collaborations from '../components/Collaborations.astro';
import Contact from '../components/Contact.astro';
import Video from '../components/video.astro';  
---

<Layout>
  <Header />
  <main>
    <Hero />
	<About />
  <Projects />
  <Publications />
  <Contact />
  </main>
</Layout>